<% if @user %>
<ul>
    <% @user.errors.full_messages.each do |m| %>
        <li class='error_message'><%= m %></li>
    <% end %>
</ul>
<br>
<% end %>

<form action='/signup' method='POST'>
Username: <input type='text' name='username'><br><br>
Email: <input type='email' name='email'><br><br>
Password: <input type='password' name='password'><br><br>
<input type ='submit' value='SIGN UP'>

</form>