<a href='/videos/new'><button>New Video Idea!</button></a>

<% @vids.each do |v| %>
<a href='/videos/<%=v.id%>'><%= v.title %></a>
<%= v.notes %>
<%= v.entry_date %>
<% end %>

<a href='/logout'><button>Log Out</button></a>



