<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Video ID!</h2>

    <div class="content">
      <p></p>
    </div>
    <a href='/signup'><button class='button1'>SIGN UP</button></a>
    <a href='/login'><button class='button1'>LOG IN</button></a>

  </div>
</div>
